* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(18, 18, 39); 
  color: azure;
  padding: 2rem;
  width: 100vw;
  height: 100vh;
}

section {
  padding: 2rem;
  font-size: 24px;
  max-width: 40rem;
  height: 22rem;
  border-radius: 24px;

  background: rgb(54, 98, 98);
  
}

.clock {
  font-size: 10rem;
}

button {
  cursor: pointer;
  border: 1px solid rgb(18, 18, 39);
  padding: .7rem;
  font-size: 1rem;
  border-radius: 2rem;
}

button:hover {
  color: white;
  background-color: rgb(14, 29, 29);
}

.stoped {
  color: rgb(66, 10, 10)
}